.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;}

.red {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: red;
}
